@charset "UTF-8";
/*------------------------------------*\
  #Fonts
\*------------------------------------*/
/*------------------------------------*\
  #Variables
\*------------------------------------*/
/*------------------------------------*\
  #Imports
\*------------------------------------*/
/*------------------------------------*\
  #Forms
\*------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), to(#e0e0e0));
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #adadad;
  background-color: #e0e0e0;
  background-position: 0 -15px;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #adadad;
  background-color: #e0e0e0;
  background-position: 0 -15px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
  font-size: 14px;
  line-height: 1.42857143;
  vertical-align: middle;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
  color: #111;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select {
  padding: 6px 12px;
  height: 34px;
}

textarea {
  padding-left: 12px;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #60a1bc;
}

a:hover, a:focus, a:active {
  color: #60a1bc;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.project-navigation .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.project-navigation .post-navigation {
  margin: 0;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.project-navigation .post-navigation .nav-previous {
  border-right: solid 2px #e9e9e9;
}

.project-navigation .post-navigation .nav-next {
  border-left: solid 2px #e9e9e9;
}

.posts-navigation a,
.post-navigation a,
.comment-navigation a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: block;
  background: #ededed;
}

.project-navigation .post-navigation a {
  text-align: center;
  background: #fff;
  border-top: solid 2px #e9e9e9;
}

.project-navigation .post-navigation a:hover,
.project-navigation .post-navigation a:focus {
  background: #ededed;
}

.posts-navigation .nav-previous a:before,
.post-navigation .nav-previous a:before,
.comment-navigation .nav-previous a:before,
.posts-navigation .nav-next a:after,
.post-navigation .nav-next a:after,
.comment-navigation .nav-next a:after {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.posts-navigation .nav-previous a:before,
.post-navigation .nav-previous a:before,
.comment-navigation .nav-previous a:before {
  content: '←';
  padding-right: 5px;
  border-right: solid 1px #fff;
}

.posts-navigation .nav-next a:after,
.post-navigation .nav-next a:after,
.comment-navigation .nav-next a:after {
  content: '→';
  padding-left: 5px;
  border-left: solid 1px #fff;
}

@media screen and (max-width: 520px) {
  .posts-navigation .nav-next,
  .post-navigation .nav-next,
  .comment-navigation .nav-next,
  .posts-navigation .nav-previous,
  .post-navigation .nav-previous,
  .comment-navigation .nav-previous {
    float: none;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 5px;
  }

  .posts-navigation a,
  .post-navigation a,
  .comment-navigation a {
    display: block;
  }
}
.entry-meta,
.entry-footer {
  color: #666;
}

.entry-meta a,
.entry-footer a {
  color: inherit;
}

.entry-footer a {
  display: inline-block;
  margin-right: 5px;
}

.comments-area label {
  display: block;
  text-transform: uppercase;
}

.comments-area input[type="text"],
.comments-area input[type="email"],
.comments-area input[type="url"],
.comments-area textarea {
  width: 100%;
  background: #fff;
}

.comments-area input[type="submit"] {
  color: #fff;
  display: block;
  width: 100%;
  border: 1px solid;
  border-color: #60a1bc;
  padding: 15px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  background: #60a1bc;
  box-shadow: none;
}

.comments-area .required {
  color: #530707;
}

.comment-body {
  padding-left: 5px;
  margin-top: 20px;
  border-left: solid 3px #ECECEE;
  margin-bottom: 20px;
}

.comment-respond {
  padding: 20px;
  background: #ededed;
  border: solid 1px #ddd;
}

.comment-respond .comment-reply-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-author .avatar {
  border-radius: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .alignleft,
  .alignright {
    display: block;
    float: none;
    margin-right: 0;
    margin-left: 0;
  }
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*------------------------------------*\
  #Navigation
\*------------------------------------*/
.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  border-color: transparent;
  background-color: transparent;
  font-family: "Overpass", sans-serif;
}

.navbar-default .navbar-brand {
  color: #58585a;
  padding: 10px;
  height: auto;
  width: 150px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #60a1bc;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: #60a1bc;
}

.navbar-default .navbar-nav > li > a {
  color: #58585a;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #60a1bc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #60a1bc;
  background-color: transparent;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ededed;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  position: absolute;
  z-index: 9999;
  right: 0;
  top: 0;
  float: none;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-color: transparent;
  box-shadow: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: yellow;
}

.navbar-default .navbar-toggle .glyphicon {
  color: #60a1bc;
  font-size: 20px;
  text-shadow: none;
}

.navbar-toggle.toggled .glyphicon {
  color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
  box-shadow: none;
}

@media (min-width: 768px) {
  .navbar-default .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #60a1bc;
  background-color: transparent;
}

/*------------------------------------*\
  # Dropdown
\*------------------------------------*/
.dropdown-menu {
  min-width: 200px;
  padding: 10px 0;
  text-align: left;
  background-color: #f6f6f6;
  border: 1px solid #e7e7e7;
}

.dropdown-menu > li > a {
  padding: 5px 20px;
  color: #60a1bc;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #58585a;
  background-color: transparent;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #58585a;
  background-color: transparent;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  background-color: transparent;
  background-image: none;
}

@media (max-width: 767px) {
  .navbar-default .navbar-collapse {
    background: #60a1bc;
  }

  .navbar-default .navbar-nav > li > a {
    color: #fff;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: #60a1bc;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }

  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #58585a;
    background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #58585a;
    background-color: transparent;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ededed;
    background-color: transparent;
  }
}
/*------------------------------------*\
  # Menu Display Table
\*------------------------------------*/
@media (min-width: 768px) {
  .navbar-default .navbar-nav {
    float: none;
    width: 100%;
    display: table;
  }

  .navbar-default .navbar-nav > li {
    display: table-cell;
    float: none;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .dropdown-menu {
    left: 50%;
    margin-left: -100px;
  }
}
/*------------------------------------*\
  #Buttons
\*------------------------------------*/
.btn {
  border-radius: 0;
  border-width: 2px;
}

.btn-default {
  color: #60a1bc;
  background-color: #fff;
  border-color: #60a1bc;
}

.btn-default:hover,
.btn-default:focus {
  color: #fff;
  background-color: #60a1bc;
  border-color: #fff;
}

.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus {
  color: #60a1bc;
  background-color: #fff;
  border-color: #60a1bc;
}

.btn-primary {
  color: #fff;
  background-color: #60a1bc;
  border-color: #60a1bc;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #60a1bc;
  background-color: #fff;
  border-color: #60a1bc;
}

.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus {
  color: #fff;
  background-color: #60a1bc;
  border-color: #60a1bc;
}

.btn-transparent {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: #58585a;
  background-color: transparent;
  border-color: #58585a;
}

.btn-transparent:active,
.btn-transparent:active:hover,
.btn-transparent:active:focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

/*------------------------------------*\
  #Panels
\*------------------------------------*/
.panel {
  border-radius: 0;
}

.panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-default {
  border-color: #60a1bc;
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #60a1bc;
  border-color: #366a80;
}

/*------------------------------------*\
  #Misc
\*------------------------------------*/
.well {
  border-radius: 0;
}

/*------------------------------------*\
  #Layout
\*------------------------------------*/
body {
  font-size: 16px;
  color: #58585a;
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

.site-header {
  padding-top: 20px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .site-header .site-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
@media (max-width: 1199px) {
  .site-header .container {
    width: 100%;
  }
}

.site-branding {
  width: 25%;
  margin: 0 auto;
}
.site-branding .site-title {
  margin-top: 0;
  margin-bottom: 0;
}

.site-header-wrap {
  position: relative;
}
.site-header-wrap .site-address,
.site-header-wrap .site-phone {
  font-size: 12px;
  font-family: "Overpass", sans-serif;
}
@media (min-width: 768px) {
  .site-header-wrap .site-address,
  .site-header-wrap .site-phone {
    position: absolute;
    top: 25%;
  }
  .site-header-wrap .site-address {
    right: 0;
  }
  .site-header-wrap .site-phone {
    left: 0;
  }
}
@media (min-width: 992px) {
  .site-header-wrap .site-address,
  .site-header-wrap .site-phone {
    font-size: 20px;
  }
}

.site-feature {
  border-bottom: solid 10px #ededed;
  overflow: hidden;
}

.site-footer {
  color: #fff;
  padding-top: 50px;
  background-color: #60a1bc;
}
@media (max-width: 767px) {
  .site-footer .site-address {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .site-footer .site-address {
    margin-top: 50px;
  }
}
.site-footer .site-info {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.4);
}
.site-footer .site-info a {
  color: #fff;
}
@media (min-width: 992px) {
  .site-footer .site-info .sep {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/*------------------------------------*\
  #Section
\*------------------------------------*/
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-header {
  margin-top: 10px;
  margin-bottom: 40px;
}
.section-header .section-title {
  margin-top: 0;
  margin-bottom: 0;
}

.section-bg {
  background-image: url("../images/layout/brow-bg.jpg");
  background-repeat: repeat;
  background-position: center center;
}

.section-map {
  line-height: 0;
}
.section-map iframe {
  width: 100%;
  min-height: 500px;
}

.section-brand-bg {
  background-color: #60a1bc;
}

.section-brand-bg .brand-item img {
  width: 150px;
}
@media (min-width: 992px) {
  .section-brand-bg .brand-item img {
    width: 200px;
  }
}

/*------------------------------------*\
  #Testimonials
\*------------------------------------*/
.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/feature/featured-image-1600x600.jpg");
}

.section-testimonials .testimonial-item {
  color: #fff;
}

.section-testimonials .owl-theme .owl-dots .owl-dot span {
  background: #ededed;
}

.section-testimonials .owl-theme .owl-dots .owl-dot.active span,
.section-testimonials .owl-theme .owl-dots .owl-dot:hover span {
  background: #60a1bc;
}

/*------------------------------------*\
  #Cards
\*------------------------------------*/
.card {
  line-height: 1.2;
}

.card-bg {
  color: #fff;
  background-color: #60a1bc;
}
.card-bg a,
.card-bg .card-title {
  color: #fff;
}
.card-bg .btn {
  color: #60a1bc;
}
.card-bg .btn:hover, .card-bg .btn:focus {
  color: #ededed;
}
.card-bg .btn:active {
  color: #60a1bc;
}

.card-body {
  padding: 20px;
}

/*------------------------------------*\
  #Styles
\*------------------------------------*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #60a1bc;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

img.media-object {
  max-width: none;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*------------------------------------*\
  #Headings
\*------------------------------------*/
.page-header {
  margin: 0 0 20px;
  padding: 0;
  border-bottom: none;
}
.page-header .page-title {
  margin-top: 0;
  margin-bottom: 0;
}

.title-divider {
  overflow: hidden;
}

.title-divider span {
  display: inline-block;
  position: relative;
  padding-right: 10px;
}

.title-divider.text-center span {
  padding-left: 10px;
}

@media (min-width: 768px) {
  .title-divider.text-center span {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.title-divider span:before,
.title-divider span:after {
  content: '';
  position: absolute;
  width: 1140px;
}

.title-divider span:before {
  top: 50%;
  left: 100%;
}

.title-divider span:after {
  top: 50%;
  right: 100%;
}

.title-divider-light {
  color: #fff;
}

.title-divider-light span:before,
.title-divider-light span:after {
  border-top: solid 2px #fff;
}

.title-divider-brand span:before,
.title-divider-brand span:after {
  border-top: solid 2px #60a1bc;
}

.title-divider-dark span:before,
.title-divider-dark span:after {
  border-top: solid 2px #58585a;
}

/*------------------------------------*\
  #Widgets
\*------------------------------------*/
.search-form label {
  display: block;
}

.search-form .search-field,
.search-form .search-submit {
  width: 100%;
}

.sidebar-header {
  margin-top: 0;
  margin-bottom: 20px;
}

/*------------------------------------*\
  #List
\*------------------------------------*/
.list-bordered li {
  padding-right: 10px;
  border-right: solid 1px #ccc;
}

.list-bordered li:last-child {
  padding-right: 5px;
  border-right: none;
}

.list-indent {
  padding-left: 20px;
}

.list-links {
  margin-bottom: 20px;
}

.list-links li a {
  color: #000;
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

.list-links li a:hover {
  color: #58585a;
}

/*------------------------------------*\
  #Misc Classes
\*------------------------------------*/
.media-fluid {
  width: 100%;
  height: auto;
  display: block;
}

.brand-text {
  color: #60a1bc;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.sep {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

/*------------------------------------*\
  #Gravity Forms
\*------------------------------------*/
.gform_wrapper .gform_footer input.button {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #000;
  padding: 10px 20px;
  background-color: #60a1bc;
  border-color: #60a1bc;
  background-image: none;
}

.gform_wrapper .gform_footer input.button:hover {
  border-color: #58585a;
  background-color: #58585a;
  background-position: 0 -15px;
}

.gform_wrapper .gform_footer input.button:focus,
.gform_wrapper .gform_footer input.button:active {
  border-color: #60a1bc;
  background-color: #60a1bc;
  background-position: 0 -15px;
}

/*------------------------------------*\
  #Meta Slider
\*------------------------------------*/
.site-feature .metaslider .flexslider {
  margin: 0;
}

.site-feature .flex-direction-nav a {
  width: 50px;
  height: 50px;
  background: url("../images/layout/icon-arrows.png") no-repeat 0 0;
}

.site-feature .flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -50px;
}

.site-feature .flex-direction-nav .flex-prev {
  left: -50px;
}

.site-feature .flexslider:hover .flex-next {
  right: 15px;
}

.site-feature .flexslider:hover .flex-prev {
  left: 15px;
}

/*# sourceMappingURL=styles.css.map */
